<h1>Sessions#new</h1>
<!-- <p>Find me in app/views/sessions/new.html.erb</p> -->

<form method='post'>
    <input name='username'>
    <input type='submit' value='login'>
  </form>

  <!-- <%#= form_tag root_path do %>
    <%#=text_field_tag :username%>
    <%#=submit_tag "login"%>
<%#end%>  -->
